

<table width="850" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td>
                <img src="[PORTALALiAS]/images/email_profile_logo_top.gif" width="850" height="150" alt="" />
            </td>
        </tr>
        <tr>
            <td>
                <table width="850" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td rowspan="5" style="width: 100px;">
                                &nbsp;
                            </td>
                            <td>
                                <table width="650" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td style="font-family: 'Montserrat'; font-size:14px; color: #5194c3; vertical-align: text-top;height: 50px;">
                                                Member Profile
                                            </td>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 150px; vertical-align: top;">
                                                <img src="[profile_picture]" width="101" height="102" alt="" />
                                            </td>
                                            <td style="font-family: 'Montserrat'; font-size:13px; line-height: 17px; vertical-align: text-top; padding-bottom: 15px;">
                                                <span style="font-size: 28px; line-height: 28px;">[full_name]</span>
                                                <br>
                                                [title]
                                                <br>
                                                [company]
                                                <br>
                                                Role: [role]
                                                <br>
                                                Member Since: [join_date]
                                                <br>
                                                [Location]
                                                <br>
                                                [phone]
                                                <br>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td rowspan="5" style="width: 100px;">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color:#5194c3; height: 1px; font-size: 1px; line-height: 1px; ">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td style="font-family: 'Montserrat'; font-size:13px; line-height: 18px; vertical-align: text-top; padding-top: 10px; padding-bottom:40px;">
                                <span style="font-weight: bold;">Overview | Bio</span>
                                <br>
                                [overview_bio]
                                <br>
                                <br>
                                <span style="font-weight: bold;">Education</span>
                                <br>
                                [education]
                                <br>
                                <br>
                                <span style="font-weight: bold;">Work History</span>
                                <br>
                                [work_history]
                                <br>
                                <br>
                                <span style="font-weight: bold;">Professional Associations</span>
                                <br>
                                [professional_associations]
                                <br>
                                <br>
                                <span style="font-weight: bold;">Honors &amp; Awards</span>
                                <br>
                                [honors_awards]
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color:#5194c3; height: 1px; font-size: 1px; line-height: 1px; ">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="notelines" width="650" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <!--<tr>
                                            <td>
                                                <img src="images/notes_icon.gif" width="30" height="74" alt="" />
                                            </td>
                                        </tr>-->
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
