{#foreach $T as rs}
        <ul class="solve-spaces-grid">
            <li style="position: relative; width:100%;height:30px;">
                <div class="solve_lt" style="margin:0px;">
                    <input type="checkbox" onclick="CA_OnItemClicked('F')"  class="ForumCheckBoxes" value="{$T.rs.ContentId}" id="CA_Forum_{$T.rs.ContentId}" {#if $T.rs.IsAssigned=='1' }checked='checked' {#/if}  />
                </div>
                <div class="solve_mdl">
                    <label for="CA_Forum_{$T.rs.ContentId}" style="font-weight:normal;"> {CA_ParseString($T.rs.Title)}</label>
                   
                </div>
            </li>
        </ul>
    <div class="clearfix"></div>
{#/for}
