<table style="width: 100%;">
    <tr>
        <td style="width: 10%;">
            &nbsp;
        </td>
        <td style="width: 80%;">
            <table border="0" cellspacing="0" cellpadding="20" background="{PORTALURL}DesktopModules/ClearAction_Connections/images/Connect-Email-Background.jpg" style="width: 920px; height: 1060px;">
                <tr>
                    <td>
                        <div style="width:100%;">
                            <table>
                                <tr>
                                    <td style="width:60%;"></td>
                                    <td><img src="{PORTALURL}DesktopModules/ClearAction_Connections/images/Exchange-Logo-transparent.png" style="position:relative; left:45px; top:-25px; height:65%;" /></td>
                                </tr>
                            </table>
                        </div>
                        <br/>
                        <br/>
                        <div style="width:100%;">
                            <table style="width:95%;">
                                <tr>
                                    <td style="width:50%;"></td>
                                    <td style="width:50%;color: white;font-size: 28px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;">
                                        <p style="margin: 0px;padding: 0px;line-height: 1.3;">
                                            Hi {TO:DISPLAYNAME},<br />
                                            I'd like to connect with you<br />
                                            in the Value Exchange.<br />
                                        </p>
                                        <p></p>
                                        <div style="color: white;">
                                            <a style="margin-left:30px" href="{PORTALURL}Connections">
                                                <img style="width:200px" src="{PORTALURL}DesktopModules/ClearAction_Connections/images/Connect-Email-Button.png" />
                                            </a>
                                        </div>
                                        <p></p>
                                        <p style="margin: 0px;padding: 0px;line-height: 1.3;">
                                            {SENDER:DISPLAYNAME}<br />
                                            {SENDER:TITLE}<br />
                                            {SENDER:COMPANYNAME}
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="width:100%;padding-top:34px;margin-top:200px;">
                            <table>
                                <tr>
                                    <td style="width:40%;"></td>
                                    <td style="color: white;font-size: 23px;top:40px;bottom:0px;text-align:center;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;">
                                        <p style="margin: 0px;padding: 0px;line-height: 27px;">
                                            <span style="font-size: 27px;">C</span>USTOMER
                                            <span style="font-size: 27px;"> V</span>ALUE
                                            <span style="font-size: 27px;"> G</span>ROWTH
                                            <span style="font-size: 27px;"> S</span>TRATEGY
                                            <br />
                                            <span style="font-size: 23px;">E</span><span style="font-size:17px;">ASE OF WORK</span>
                                            <span style="font-size: 23px;">&</span>
                                            <span style="font-size:17px;">EASE OF DOING BUSINESS</span>
                                            <br />
                                            <span style="font-size: 23px;">E</span><span style="font-size:17px;">XCHANGE.</span><span style="font-size: 23px;">C</span><span style="font-size:17px;">LEAR</span><span style="font-size: 23px;">A</span><span style="font-size:17px;">CTION</span><span style="font-size:17px;">.COM</span>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>

        </td>
        <td style="width: 10%;">
            &nbsp;
        </td>
    </tr>
</table>

