
<div class="community_calls" style="border-top: 0px solid #6992c0;padding: -0px 15px 0 0">
    <div class="calls_lt" style="display:none">
        <h4 tooltip-id="tt-insightsdash" class="blg">Insights</h4>
        <div id="tt-insightsdash" class="popup">
            <div class="content">
                <div class="popup_con1">
                    <h5>Insights</h5>
                    <p>
                        articles, training, videos, podcasts, slide decks, infographics, study
                        highlights, how-to guides.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="calls_rt" style="display:none"><a class="font-weight-bold" href="/blog">My Vault</a></div>

    <div class="calls_dtls" style="padding: 0px 0 0 0;">
        <ul>
           [Items]
        </ul>
    </div>
</div>
