<div class="community_calls" style="border-top: 0px solid #6992c0;padding: -0px 15px 0 0">
    <div class="connection_dtls" style="display:none">
        <div class="connection_1">
            <h4 tooltip-id="tt-communitydash">Community Calls</h4>
            <div id="tt-communitydash" class="popup">
                <div class="content">
                    <div class="popup_con">
                        <h5>Community Calls</h5>
                        <p>free-form facilitated conversations on a monthly topic.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="connection_2" style="display:none"><a class="font-weight-bold" href="/Digital/ComponentID/4/IsMyVault/1">My Vault</a></div>
     
        <div class="connection_cnt" style="padding: 0px 0 0 0;">
            <ul>
                [Items]
            </ul>
        </div>
    </div>
</div>
