<div class="connections" style="border-top: 0px solid #6992c0;padding: -0px 15px 0 0">
    <div class="connection_dtls">
        <div class="connection_1" style="display:none">
            <h4 tooltip-id="tt-openforum" class="forum" style="">Open Forum</h4>
            <div id="tt-openforum" class="popup">
                <div class="content">
                    <div class="popup_con">
                        <h5>Open Forum</h5>
                        <p>post questions, answers and files for all members.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="connection_2" style="display:none"><a class="font-weight-bold" href="/Forum">My Vault</a></div>

        <div class="connection_cnt" style="padding: 0px 0 0 0;">
            <ul>

                [Items]
                 
            </ul>
        </div>
    </div>
</div>
