<div class="connections roles">
    <div class="connection_dtls">
        <div class="connection_1">
            <h4 tooltip-id="tt-rolesimilartomine" class="mine">Roles Similar to Mine</h4>
            <div id="tt-rolesimilartomine" class="popup1">
                <div class="content">
                    <div class="popup_con">
                        <h5>Roles Similar to mine</h5>
                        <p>These are people in the entire Value Exchange who share your Influencer Role as an Executive. Other roles are Directors and Practioners. Your "Executive" status was set in the initial questionaire.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="connection_2">
            <a href="/Connections/ViewType/2">See all</a>
        </div>
        <div class="clearfix"></div>
        [Items]
    </div>
</div>

 