
<div class="connection_cnt">
    <ul>
        <li>


            <div class="connection_lt">


                <a href="MyProfile?Userid={USERID}">
                    <figure><img alt="img_20" class="tip"  data-tip="{DISPLAYNAME}" style="width:48px;height:48px;max-width:48px !important;" height="48" src="{UserImage}" width="48" title="{LASTNAME} {FIRSTNAME}" /></figure>
                </a>
            </div>
            <div class="connection_mdl">
                <h5><a href="MyProfile/UserName/{USERNAME}" class="tip" data-tip="{DISPLAYNAME}">{FIRSTNAME} {LASTNAME}</a></h5>
                <p>{TITLE}</p>
                <p>{ROLES}</p>
            </div>
            <div class="connection_rt">
                <img style="cursor:pointer;" src="/images/more_icon.png" alt="Tips" class="CA_UserMenu" uid="{USERID}" sectionid="1" isconnection="{ISCONNECTION}"  data-toggle="modal" data-target="#" id="toggle"/>
            </div>
            <div class="clearfix"></div>
        </li>

    </ul>

</div>
