<div class="community_calls">
    <div class="connection_dtls">
        <div class="connection_1">
            <h4 tooltip-id="tt-zoommeeting" class="blg">Zoom Meetings</h4>
            <div id="tt-zoommeeting" class="popup">
                <div class="content">
                    <div class="popup_con">
                        <h5>Zoom Meeting Topics</h5>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="connection_2"><a class="font-weight-bold" href="/Digital/ComponentID/4/IsMyVault/1">My Vault</a></div>
        <div class="clearfix">&nbsp;</div>
        <div class="connection_cnt">
            <ul>
                [Items]
            </ul>
        </div>
    </div>
</div>
