header nav ul li.demo:hover {background:none;}
header ul li.demo a,  header ul li.demo a:hover, .thankyou_blog, .thankyou_digitalevents, .thankyou_valuevault, .thankyou_connections
{cursor:default; opacity:1;}

.connection_rt a {cursor:default;}
.connection_rt:hover .tooltip_12 {visibility: hidden; opacity: 0;}
.connection_rt:hover .tooltip_13 {visibility: hidden; opacity: 0;}
.connection_rt:hover .tooltip_14 {visibility: hidden; opacity: 0;}
.connection_rt:hover .tooltip_15 {visibility: hidden; opacity: 0;}
.connection_rt:hover .tooltip_16 {visibility: hidden; opacity: 0;}
.connection_rt:hover .tooltip_17 {visibility: hidden; opacity: 0;}
.connection_rt:hover .tooltip_18 {visibility: hidden; opacity: 0;}
.connection_rt:hover .tooltip_19 {visibility: hidden; opacity: 0;}
.connection_rt:hover .tooltip_20 {visibility: hidden; opacity: 0;}
.connection_rt:hover .tooltip_21 {visibility: hidden; opacity: 0;}
.connection_rt:hover .tooltip_22 {visibility: hidden; opacity: 0;}
.connection_rt:hover .tooltip_23 {visibility: hidden; opacity: 0;}
.connection_rt:hover .tooltip_24 {visibility: hidden; opacity: 0;}
.connection_rt:hover .tooltip_25 {visibility: hidden; opacity: 0;}
.connection_rt:hover .tooltip_26 {visibility: hidden; opacity: 0;}

.solve_rt a {cursor:default;}
.solve_rt:hover .tooltip_7 {visibility: hidden; opacity: 0;}
.solve_rt:hover .tooltip_8 {visibility: hidden; opacity: 0;}
.solve_rt:hover .tooltip_9 {visibility: hidden; opacity: 0;}
.solve_rt:hover .tooltip_10 {visibility: hidden; opacity: 0;}