{#foreach $T as rs}
        <div class="grid">
            <div class="all to-do" style="position: relative; width:100%; display:table-cell">
                <div class="solve_lt">
                    <figure>
                        {#if $T.rs.Status=='In-Progress'}
                            <img alt="img_16" src="/portals/0/img_16.png" height="14" width="14" />
                        {#/if}
                        {#if $T.rs.Status=='Completed'}
                            <img alt="img_16" src="/portals/0/img_17.png" height="14" width="14" />
                        {#/if}
                        {#if $T.rs.Status=='To-Do'} {* To-Do case *}
                            <img alt="img_16" src="/portals/0/img_18.png" height="14" width="14" />
                        {#/if}
                        {#if $T.rs.Status=='Soon'} {* Coming Soon *}
                        <img alt="img_16" src="/portals/0/img_18.png" height="14" width="14" />
                        {#/if}
                    </figure>
                </div>
                <div class="solve_mdl">
                    {#if $T.rs.Status=='Soon'}
                        {#if $T.rs.TabLink==''}
                            <h5 style="color:rgb(2,139,255)">{CA_ParseString($T.rs.Title)}&nbsp;<span class="ComingSoon">Coming Soon</span></h5>
                    {#else}
                            <a href="/{$T.rs.TabLink}" style="cursor:pointer !important;"><h5 >{CA_ParseString($T.rs.Title)}</h5></a>
                    {#/if}
                    {#else}
                            <a href="/{$T.rs.TabLink}" style="cursor:pointer !important;"><h5>{CA_ParseString($T.rs.Title)}</h5></a>
                    {#/if}
                    <p>
                        {CA_ParseString($T.rs.ShortDescription)}
                        <span>
                            {#if $T.rs.Status=='In-Progress'}
                            In Progress, Last touch: {CA_FormatJSONDate($T.rs.LastUpdatedOn,'m/dd/y')}
                            {#elseif $T.rs.Status=='Completed'}
                            Done {CA_FormatJSONDate($T.rs.LastUpdatedOn,'m/dd/y')}
                            {#elseif $T.rs.Status=='To-Do'} {* To-DO case *}
                                Time to Complete: {$T.rs.DurationInMin} min
                            {#elseif $T.rs.Status=='Soon'} {* Coming Soon case *}
                            Time to Complete: {$T.rs.DurationInMin} min
                            {#else}
                            Time to Complete: {$T.rs.DurationInMin} min
                            {#/if}
                        </span>
                    </p>
                </div>
                <div class="solve_rt" 
                            {#if $T.rs.Status=='In-Progress'}
                                style="display:none;"
                            {#elseif $T.rs.Status=='Completed'}
                                style="display:none;"
                            {#elseif $T.rs.Status=='To-Do'} {* To-DO case *}
                               {#if $T.rs.IsSelfAssigned=='0'}
                                    style="display:none;"
                                {#/if}
                            {#elseif $T.rs.Status=='Soon'} {* Coming Soon case *}
                                style="display:none;"
                            {#else}
                            {#/if}
                 >
                        <figure>
                            <img src="/images/more_icon1.png" alt="more_icon1" id="CA_imgMenu_{$T.rs.SolveSpaceID}" IsSelfAssigned="{$T.rs.IsSelfAssigned}" class="img-responsive CA_UserMenu" height="15" width="5" style="cursor:pointer;">
                        </figure>
                </div>

            </div>
        </div>
		<div class="clearfix"></div>
{#/for}