<div class="spaces_dtls">
    <div class="space_lt">
        <h4>Solve-Spaces</h4>
    </div>
    <div class="space_rt"><a href="/SolveSpaces">My Vault</a></div>
    <div class="clearfix">&nbsp;</div>
    <div class="solve_dtls">
        <ul>
            {#foreach $T as rs}
            <li>
                <div class="solve_lt">
                    <figure>
                        {#if $T.rs.Status=='In-Progress'}
                            <img alt="img_16" src="/portals/0/img_16.png" height="14" width="14" />
                        {#/if}
                        {#if $T.rs.Status=='Done'}
                            <img alt="img_16" src="/portals/0/img_17.png" height="14" width="14" />
                        {#/if}
                        {#if $T.rs.Status=='To-Do'}
                            <img alt="img_16" src="/portals/0/img_18.png" height="14" width="14" />
                        {#/if}
                    </figure>
                </div>
                <div class="solve_mdl">
                    <h5><a href="/{$T.rs.TabLink}">{$T.rs.Title}</a></h5>
                    <p>{ExtractNChar($T.rs.ShortDescription,40)}</p>
                    {#if $T.rs.Status=='In-Progress'}
                        <p>{$T.rs.Status}, Last touch: {CA_FormatJSONDate($T.rs.LastUpdatedOn,'m/dd/y')}</p>
                    {#/if}
                    {#if $T.rs.Status=='To-Do'}
                        <p>{$T.rs.DurationInMin} min, Last touch: {CA_FormatJSONDate($T.rs.LastUpdatedOn,'m/dd/y')}</p>
                    {#/if}
                    {#if $T.rs.Status=='Done'}
                        <p>Completed {CA_FormatJSONDate($T.rs.LastUpdatedOn,'m/dd/y')}</p>
                    {#/if}
                </div>
                <div class="solve_rt">
                    <figure><a href="#"><img alt="more_icon1" class="img-responsive" src="/portals/0/more_icon1.png" height="15" width="5"> </a></figure>
                    <div class="tooltip_7">
                        <h5><a href="/{$T.rs.TabLink}">Market Research Trends</a></h5>
                        <p><a href="#">Lorem Ipsum.</a></p>
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
            </li>
            {#/for}
        </ul>
    </div>
</div>