/*subject-matter-experts*/


.careers main * {
	font-weight: 300;
	font-size: 18px;
}

.careers main nav {
	font-size: 14px;
}

.careers .section-one-content * {
	display:block; 
}

.careers .section-two-content {
	background: #75a8cb;
	color: #ffffff;
	padding: 0 0 30px;
}

.careers .section-two-content h1 {
	font-size: 74px;
	line-height: 80px;
	font-weight: 100;
	margin: 100px 0 20px;
}

.careers .section-three-content {
	padding: 5% 0;
	font-size: 18px;
	color: #444444;
}

.careers .section-three-content p {
	margin: 25px 0;
	line-height: 30px;
}

.careers .section-three-content a {
	color: #064b7b;
}


@media screen and (max-width: 960px){
	.careers .section-one-content {
	
		}
}

@media screen and (max-width: 767px) {
.careers .section-two-content h1 {
	font-size: 70px;
}
	
	
}

@media screen and (max-width: 450px) {
	.careers .section-one-content {
	
		}
.careers .section-two-content h1 {
	font-size: 44px;
	width: 100%;
}
	

.careers .section-three-content p {
	font-size: 16px;
}
	
}