<form action="https://attendee.gotowebinar.com/register/6287357520957072643"   method="POST">
    <table border="0" cellpadding="5" cellspacing="0" bgcolor="#E0E0E0">
        <tr>
            <td align="right">Webinar key:</td>
            <td><input name="WebinarKey" type="text" size="30" maxlength="30" value="6287357520957072643"></td>
        </tr>
        <tr>
            <td align="right">First name:</td>
            <td><input name="Name_First" type="text" size="30" maxlength="30" value="AJIT"></td>
        </tr>
        <tr>
            <td align="right">Last name:</td>
            <td><input name="Name_Last" type="text" size="30" maxlength="50" value="Jha"></td>
        </tr>
        <tr>
            <td align="right">Email:</td>
            <td><input name="Email" type="text" size="30" maxlength="50" value="kumarajit.jha@hotmail.com"></td>
        </tr>
        <input type="hidden" name="Template" value="island/webinar/registration.tmpl">
        <input type="hidden" name="Form" value="webinarRegistrationForm">
        <input type="hidden" name="ViewArchivedWebinar" value="false">
        <input type="hidden" name="registrant" value="">
        <input type="hidden" name="RegistrantTimeZoneKey" value="67">
        <input type="hidden" name="RegistrantTimeZoneKey2" value="67">
        <tr>
            <td></td>
            <td>
                <input type="submit" value=" OK ">
                <input type="reset" value=" Cancel">
            </td>
        </tr>
    </table>
</form>