<div class="insights-row" style="padding-left:20px">
    <h2>
        <a Class="insights-read-more" href="{URL}">{TITLE}</a>
    </h2>
    <div class="insights-date">

        {CATEGORIES} &nbsp;¦&nbsp;&nbsp;&nbsp;<a href='{BlogURL}'>{TITLE}</a>   &nbsp;&nbsp;&nbsp;¦&nbsp;&nbsp;&nbsp;By
        <strong>{AUTHORNAME_TAG}</strong>&nbsp;&nbsp;&nbsp;¦&nbsp;&nbsp;&nbsp;{LIKESCOUNT} Recommends
        ¦{PUBLISH_ONDATE}&nbsp;&nbsp;&nbsp;
        <!--¦&nbsp;&nbsp;&nbsp;{VIEWCOUNT} Views-->
    </div>
    <!--<div class="insights-image">
        {IMAGES}
    </div>-->
    <div class="insights-intro">
        {BODY}
    </div>

    <a Class="insights-read-more" href="{URL}">Continue reading</a>

</div>