<div class="forum-content" id="CA_Blog_dvDiscussion">
    <h2>Join the discussion</h2>
</div>
<div class="forum-interact">
    <div onclick="return RecommendThisPost({ItemID})" class="forum-recommend" style="cursor:pointer;"><label class="RecomCount" >{RECOMMENDCOUNT}</label> </div>
    <!--<div onclick="return UnRecommendThisPost({ItemID})" class="forum-unrecommend" style="cursor:pointer;"><label class="UnRecomCount" >{UNRECOMMENDCOUNT}</label> </div>-->
    <div class="forum-replies">{COMMENTCOUNT}<a id="linkreplies"> Replies</a></div>
    <a href="#" class="forum-tooltips">
        <img src="{MODULEPATH}/images/more_icon.png" alt="Attach Media" class="CA_UserMenu" label="0" cid="{ItemID}">
         
    </a>
</div>
<div class="clearfix"></div>
