<div class="insights-row">
    <h2>

        Please adjust your search criteria – sometimes alternative phrasing locates the right resources. (hint: avoid punctuation) If you still can’t find it, please send a note to <a href="mailto:Success@ClearAction.com" target="_blank">Success@ClearAction.com</a> so we can add it!
    </h2>



    <a Class="insights-read-more" href="/Home">Home</a>
    &nbsp;&nbsp;&nbsp;¦&nbsp;&nbsp;&nbsp;
    <a Class="insights-read-more" href="/Insights">Insights</a>

</div>